body{
	margin: 0;
	padding: 0;
	font-family: arial;
	font-weight: 400;
}
.inner{
	position: relative;
	width: 1080px;
	margin: 0 auto;

	@media only screen and (max-width: 1160px){
		width: 95%;
	}

	@media only screen and (max-width: 1126px){
		width: 96%;
	}

	@media only screen and (max-width: 1114px){
		width: 98%;
	}
	@media only screen and (max-width: 820px){
		width: 95%;
	}

	.left-area{
		overflow: hidden;
		width: 712px;
		padding-bottom: 84px;
		display: inline-block;

		@media only screen and (max-width: 1160px){
			width: 65%;
		}

		@media only screen and (max-width: 1055px){
			width: 60%;
		}
		@media only screen and (max-width: 923px){
			width: 55%;
		}
		@media only screen and (max-width: 820px){
			width: 100%;
		}
	}

	.rigth-area{
		display: inline-block;
		position: relative;
		z-index: 10;
		width: 344px;
		margin-top: 94px;
		background: #fff;
		vertical-align: top;
		margin-left: 18px;

		@media only screen and (max-width: 1160px){
			float: right;
			margin-right: 0;
		}

		@media only screen and (max-width: 820px){
			float: none;
			width: 100%;
			margin-top: 0;
			margin-left: 0;
		}
	}
}